@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--heading-font);
}

html{
    scroll-behavior: smooth;
}

:root{
    --heading-font: 'Poppins';
}

header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .openNav{
    display: none;
}

nav img{
    width: 100px;
    margin-top: 20px;
}

nav ul li{
    display: inline-block;
    padding: 25px;
}

nav ul .navList{
    color: blue;
    font-weight: 500;
}

nav ul .resume-btn{
    padding: 10px 30px;
    color: blue;
    border: 2px solid blue;
}

nav ul .resume-btn:hover{
    transition: .4s all;
    background: rgba(0, 0, 255, 0.137);
}

nav a{
    text-decoration: none;
}

nav a:hover{
    transition: .5s all;
    color: blue;
}

/* landing section */

.landing-page{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.landing-page .social-links{
    display: flex;
    font-size: 40px;
    text-decoration: none;
    flex-direction: column;
    color: blue;
}

.landing-page .social-links a{
    color: gold;
}

.landing-text{
    max-width: 850px;
}

.landing-text .intro{
    font-size: 25px;
}

.landing-text .title{
    font-size: 60px;
    font-weight: 600;
}

.landing-text .subtitle{
    font-size: 25px;
    margin-bottom: 30px;
}

.landing-text .about-btn{
    text-decoration: none;
    padding: 10px 30px;
    color: blue;
    border: 2px solid blue;
}

.landing-text .about-btn .arrow-down{
    position: relative;
    margin-left: 5px;
    animation: bounce 1s infinite;
}

@keyframes bounce{
    0%{
        top: 0px;
    }
    50%{
        top: 5px;
    }
}

/* about section */
.about{
    width: 100%;
    height: 100vh;
    border: 1px solid red;
}

.about .page-heading{
    text-align: center;
    font-size: 40px;
}

.about .page-heading span{
    color: blue;
}

.about .about-banner{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

.about .about-text{
    max-width: 560px;
    margin-top: 50px;
}

.about .about-text .title{
    font-size: 30px;
    margin-bottom: 10px;
}

.about .about-text .summary{
    font-size: 20px;
    margin-bottom: 10px;
}

.about .about-text .subtitle{
    font-size: 18px;
    margin-bottom: 10px;
}

.about .about-text .tools-made-use ul li{
    list-style-type: square;
    padding: 5px;
}

.about .about-banner .about-image{
    position: relative;
    margin-top: 150px;
}

.about .about-banner .about-image img{
    width: 300px;
    border-radius: 3px;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
    filter: drop-shadow(2px 4px 8px #fff);
}